*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

#codeigniter 3
/application/
application/logs/*
application/config/app-config.php