# Prevent execution of any script uploaded into this directory, regardless of extension
# used to get it past an application-level allowlist (double extensions, .phtml, .pht, etc).
# See SECURITY_AUDIT_REPORT.md C11/C12/C13.

<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>

<FilesMatch "\.(?i:php[0-9]?|phtml|pht|phar|cgi|pl|py|asp|aspx|sh)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
