@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);/*font-family: 'Open Sans', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);/*font-family: 'Open Sans Condensed', sans-serif;*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}

/*end reset*/
/****-----start-body----****/
body{
	background:url(../images/login-bg.jpg)  no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	position:relative;
 	font-family: 'Open Sans', sans-serif;
	height:100%;
	width:100%
}

body.inside {
background-color: #06132C !important; 
background-repeat: repeat-x; 
/* Safari 4-5, Chrome 1-9 */ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#06132C), to(#3360BA)) repeat-x; 
/* Safari 5.1, Chrome 10+ */ 
background: -webkit-linear-gradient(top, #3360BA, #06132C) repeat-x; 
/* Firefox 3.6+ */ 
background: -moz-linear-gradient(top, #3360BA, #06132C) repeat-x; 
/* IE 10 */ 
background: -ms-linear-gradient(top, #3360BA, #06132C) repeat-x; 
/* Opera 11.10+ */ 
background: -o-linear-gradient(top, #3360BA, #06132C) repeat-x;
position:relative;
font-family: 'Open Sans', sans-serif;
height:100%;
}
.clear {
clear:both;
}
.logo {
width:48px;
margin:2px auto 0px auto;
}
h2 {
font-family:'Oswald', Arial, Helvetica, sans-serif;
text-align:center;
color:#fff;
font-size:2em;
font-weight:normal;
text-transform:uppercase;
text-shadow:0px 1px 1px #333;
}
h3 {
font-family:'Open Sans Condensed', Arial, Helvetica, sans-serif;
text-align:center;
color:#fff;
font-size:1.5em;
padding-bottom:10px;
margin-bottom:20px;
border-bottom:1px solid #fff;
font-weight:normal;
text-shadow:0px 1px 1px #333;
}
.blue-bg {
background-color:#0D1F42;
padding:30px 20px;
}
.login-form {
	background:transparent;
	width:32%;
	margin:0px auto 4% auto;
 	position: relative;
	height:100%;
	border:0px #fff solid;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/loading.gif') 50% 50% no-repeat #9AB6EE;
    
}

form {
	padding:15% 2.5em 20% 2.5em;
}
form li{
	border:3px solid #3360BA;
	list-style:none;
	margin-bottom:15px;
	width:98%;
	background:#646464;
	/*border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-	border-radius: 0.3em;
	-moz-border-radius: 0.3em;*/
}

.hr {
text-align:center;
display:block;
}
.hr::after {
content: " - ";
width:100%;
height:1px;
    background-color: yellow;
}

.icon{
	/*background:url(../images/icons.png)  no-repeat 0px 0px;*/
	height:30px;
	width:30px;
	display: block;
	float:left;
	margin:7px 0px 0px 10px;
	color:#fff;
}

.user{
	background: url(../images/icons.png) no-repeat 12px 9px;
	
}
.lock{
	background: url(../images/icons.png) no-repeat -17px 9px;
}
input[type="text"], input[type="password"],select,option{
	font-family: 'Open Sans', sans-serif;
	width:80%;
	padding:0.5em 1em 0.5em 0.5em;
	color:#fff;
	font-size:14px;
	outline: none;
	background: none;
	border:none;
	font-weight:600;
	}
form li:hover{
	border:3px solid #3360BA;
	 box-shadow: 0 0 1em #40A9DF;
	 -webkit-box-shadow: 0 0 1em #40A9DF;
	 -o-box-shadow: 0 0 1em #40A9DF;
	 -moz-box-shadow: 0 0 1em #40A9DF;
}
input[type="submit"]{
	float:none;
	font-size:14px;
	display: block;
	font-weight:bold;
	color: #fff;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	cursor: pointer;
	outline: none;
	padding:15px 10px;
	margin-top:2px;
	margin-bottom:2px;
	font-family: 'Open Sans', sans-serif;
	width:100%;
	border:none;
	background: #133B8A; /* Old browsers */
	background: -moz-linear-gradient(top,  #133B8A 0%, #133B8A 3%, #133B8A 35%, #133B8A 97%, #3360BA 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#133B8A), color-stop(3%,#133B8A), color-stop(35%,#133B8A), color-stop(97%,#133B8A), color-stop(100%,#3360BA)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #133B8A 0%,#133B8A 3%,#133B8A 35%,#133B8A 97%,#3360BA 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #133B8A 0%,#133B8A 3%,#133B8A 35%,#133B8A 97%,#3360BA 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #133B8A 0%,#133B8A 3%,#133B8A 35%,#133B8A 97%,#3360BA 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #133B8A 0%,#133B8A 3%,#133B8A 35%,#133B8A 97%,#3360BA 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133B8A', endColorstr='#3360BA',GradientType=0 ); /* IE6-9 */
}
input[type="submit"]:hover{
	background: #3360BA; /* Old browsers */
	background: -moz-linear-gradient(top,  #3360BA 0%, #133B8A 3%, #133B8A 65%, #133B8A 97%, #133B8A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3360BA), color-stop(3%,#133B8A), color-stop(65%,#133B8A), color-stop(97%,#133B8A), color-stop(100%,#133B8A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3360BA 0%,#133B8A 3%,#133B8A 65%,#133B8A 97%,#133B8A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3360BA 0%,#133B8A 3%,#133B8A 65%,#133B8A 97%,#133B8A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3360BA 0%,#133B8A 3%,#133B8A 65%,#133B8A 97%,#133B8A 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3360BA 0%,#133B8A 3%,#133B8A 65%,#133B8A 97%,#133B8A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3360BA', endColorstr='#133B8A',GradientType=0 ); /* IE6-9 */
	
}


input.verify[type="submit"]{
	float:none;
	font-size:14px;
	display: block;
	font-weight:bold;
	color: #fff;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	cursor: pointer;
	outline: none;
	padding:15px 10px;
	margin-top:0px;
	font-family: 'Open Sans', sans-serif;
	width:100%;
	border:none;
	background: #2C2C2C; 
	/* Old browsers */
	background: -moz-linear-gradient(top,  #2C2C2C 0%, #2C2C2C 3%, #2C2C2C 35%, #2C2C2C 97%, #303030 100%); 
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2C2C2C), color-stop(3%,#2C2C2C), color-stop(35%,#2C2C2C), color-stop(97%,#2C2C2C), color-stop(100%,#303030));
	 /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2C2C2C 0%,#2C2C2C 3%,#2C2C2C 35%,#2C2C2C 97%,#303030 100%);
	 /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2C2C2C 0%,#2C2C2C 3%,#2C2C2C 35%,#2C2C2C 97%,#303030 100%);
	 /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2C2C2C 0%,#2C2C2C 3%,#2C2C2C 35%,#2C2C2C 97%,#303030 100%);
	 /* IE10+ */
	background: linear-gradient(to bottom,  #2C2C2C 0%,#2C2C2C 3%,#2C2C2C 35%,#2C2C2C 97%,#303030 100%);
	 /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2C2C2C', endColorstr='#303030',GradientType=0 );
	 /* IE6-9 */
}
input.verify[type="submit"]:hover{
	background: #111;
	
}


.verify1{
	float:none;
	font-size:14px;
	display: block;
	font-weight:bold;
	color: #fff;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	cursor: pointer;
	outline: none;
	padding:15px 10px;
	margin-top:0px;
	font-family: 'Open Sans', sans-serif;
	width:100%;
	border:none;
	background: #2C2C2C; /* Old browsers */
	background: -moz-linear-gradient(top,  #2C2C2C 0%, #2C2C2C 3%, #2C2C2C 35%, #2C2C2C 97%, #303030 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2C2C2C), color-stop(3%,#2C2C2C), color-stop(35%,#2C2C2C), color-stop(97%,#2C2C2C), color-stop(100%,#303030)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2C2C2C 0%,#2C2C2C 3%,#2C2C2C 35%,#2C2C2C 97%,#303030 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2C2C2C 0%,#2C2C2C 3%,#2C2C2C 35%,#2C2C2C 97%,#303030 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2C2C2C 0%,#2C2C2C 3%,#2C2C2C 35%,#2C2C2C 97%,#303030 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2C2C2C 0%,#2C2C2C 3%,#2C2C2C 35%,#2C2C2C 97%,#303030 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2C2C2C', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
}
.verify1:hover{
	background: #111;
	
}


.verify2{
	float:right;
	font-size:22px;
	display: block;
	font-weight:bold;
	color: #5c4343;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	cursor: pointer;
	outline: none;
	padding:7px 5px;
	margin-top:25px;
	border-radius: 26px;
	font-family: 'Open Sans', sans-serif;
	width:16%;
	border:none;
	background: #EDEFF5; /* Old browsers */
	background: -moz-linear-gradient(top,  #EDEFF5 0%, #EDEFF5 3%, #EDEFF5 35%, #EDEFF5 97%, #EDEFF5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDEFF5), color-stop(3%,#EDEFF5), color-stop(35%,#EDEFF5), color-stop(97%,#EDEFF5), color-stop(100%,#303030)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #EDEFF5 0%,#EDEFF5 3%,#EDEFF5 35%,#EDEFF5 97%,#EDEFF5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #EDEFF5 0%,#EDEFF5 3%,#EDEFF5 35%,#EDEFF5 97%,#EDEFF5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #EDEFF5 0%,#EDEFF5 3%,#EDEFF5 35%,#EDEFF5 97%,#EDEFF5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #EDEFF5 0%,#EDEFF5 3%,#EDEFF5 35%,#EDEFF5 97%,#EDEFF5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2C2C2C', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
}
.verify2:hover{
	background: #C9D0E6;
	
}



button{
	float:none;
	font-size:14px;
	display: block;
	font-weight:bold;
	color: #fff;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	cursor: pointer;
	outline: none;
	padding:15px 10px;
	margin-top:2px;
	margin-bottom:2px;
	font-family: 'Open Sans', sans-serif;
	width:100%;
	border:none;
	background: #133B8A; /* Old browsers */
	background: -moz-linear-gradient(top,  #133B8A 0%, #133B8A 3%, #133B8A 35%, #133B8A 97%, #3360BA 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#133B8A), color-stop(3%,#133B8A), color-stop(35%,#133B8A), color-stop(97%,#133B8A), color-stop(100%,#3360BA)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #133B8A 0%,#133B8A 3%,#133B8A 35%,#133B8A 97%,#3360BA 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #133B8A 0%,#133B8A 3%,#133B8A 35%,#133B8A 97%,#3360BA 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #133B8A 0%,#133B8A 3%,#133B8A 35%,#133B8A 97%,#3360BA 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #133B8A 0%,#133B8A 3%,#133B8A 35%,#133B8A 97%,#3360BA 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133B8A', endColorstr='#3360BA',GradientType=0 ); /* IE6-9 */
}
button:hover{
	background: #3360BA; /* Old browsers */
	background: -moz-linear-gradient(top,  #3360BA 0%, #133B8A 3%, #133B8A 65%, #133B8A 97%, #133B8A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3360BA), color-stop(3%,#133B8A), color-stop(65%,#133B8A), color-stop(97%,#133B8A), color-stop(100%,#133B8A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3360BA 0%,#133B8A 3%,#133B8A 65%,#133B8A 97%,#133B8A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3360BA 0%,#133B8A 3%,#133B8A 65%,#133B8A 97%,#133B8A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3360BA 0%,#133B8A 3%,#133B8A 65%,#133B8A 97%,#133B8A 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3360BA 0%,#133B8A 3%,#133B8A 65%,#133B8A 97%,#133B8A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3360BA', endColorstr='#133B8A',GradientType=0 ); /* IE6-9 */
	
}



/***************************/
.forgot {
font-size:12px;
float:right;
margin:0px 2px 0px 0px;
}
.forgot a {
color:#fff;
text-align:right;
text-decoration:none;
}

.p-container{
	margin-top:1em;
}
.p-container  .checkbox input {
	position: absolute;
	left: -9999px;
}
.p-container.checkbox i {
	border-color: #fff;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	
}
.p-container.checkbox i:hover {
	border-color:red;
	
}
.p-container  i:before {
	background-color: #2da5da;	
}
.p-container  .rating label {
	color: #ccc;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
.p-container  .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.p-container .checkbox input + i:after {
	content:url(../images/tick.png) no-repeat 7px 1px;
	top:-15px;
	left:1px;
	width: 15px;
	height: 15px;
}
.p-container  .checkbox {
	float: left;
	margin-right: 30px;
}
.p-container .checkbox {
	padding-left: 40px;
	font-size: 16px;
	line-height:60px;
	color:#858282;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;	
	font-weight: 600;
}
.p-container  .checkbox {
	position: relative;
	display: block;
}
.p-container  .checkbox i {
	position: absolute;
	top:18px;
	left:5px;
	display: block;
	width:22px;
	height:22px;
	outline: none;
	border:1px solid #999;
	background:#fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;

}
.p-container  .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.p-container .checkbox input + i:after {
	color: #2da5da;
}
.p-container .checkbox input:checked + i,
.p-container . input:checked + i {
	border-color: #2da5da;	
}
.p-container .rating input:checked ~ label {
	color: #2da5da;	
}

.p-container .checkbox input:checked + i:after {
	opacity: 1;
}


/****************/
.copy-right {
	text-align:center;
}
.copy-right p {
	color: #fff;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;	
	font-weight: 600;
}
.copy-right p a {
	font-family: 'Open Sans', sans-serif;	
	font-size: 1em;
	color:#FF8E03;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right p a:hover {
	color:#fff;
}
/*-----start-responsive-design------*/
@media (max-width:1024px){
.login-form  {
		margin:4% auto 0;
		width:45%;
	}
	.copy-right {
	left: 41%;
	bottom:-18%;
	}
}
@media (max-width:768px){
h2 {
font-size:1.5em;
}
	.login-form  {
		margin:3% auto 0;
		width:57%;
	}
	form{
		padding:3% 1.5em; 
	}
	.copy-right {
	left:38%;
	bottom:-14%;
	}
	input[type="text"], input[type="password"]{
		font-size:13px;
		padding: 0.5em 0.3em 0.5em 0.2em;
		
	}
}
@media (max-width:640px){                                  
	.login-form  {
		margin:3% auto 0;
		width:70%;
	}
	form{
		padding:3% 1.5em; 
	}
	.copy-right {
	left:36%;
	bottom:-18%;
	}
	
}
@media (max-width:480px) {                                  
	.login-form  {
		margin:3% auto 0;
		width:90%;
	}
	form{
		padding:3% 1.5em; 
	}
	.copy-right {
	left:30%;
	bottom:-17%;
	}
	.icon{
	/*background:url(../images/icons.png)  no-repeat 0px 0px;*/
	height:20px;
	width:20px;
	display: block;
	float:left;
	margin:7px 0px 0px 10px;
	color:#fff;
}
input[type="text"], input[type="password"], select, option{
		font-size:12px;
		width:80%;
		padding: 0.5em .2em 0.5em .4em;
		
	}

}
@media (max-width:320px){                                  
	.login-form  {
		margin:3% auto 0;
		width:95%;
	}
	form{
		padding:3% 1.5em; 
	}
	form li{
		margin-top:10px;
	}
	
	input[type="text"], input[type="password"], select, option{
		font-size:12px;
		width:80%;
		padding: 0.5em 0.3em 0.5em 1.2em;
		border:0px solid red;
	}
	.blue-bg {
background-color:#0D1F42;
padding:30px 10px;
margin-bottom:10px;
}
	input[type="submit"]{
		float:none;
		font-size: 13px;
		padding: 10px 10px;
		width: 100%;
		/*margin-left: 28%;*/
		margin:0px auto;
	}
	.head{
		top:-12%;
		left:35.5%;
	}
	.head img {
	width:69%;
	}
	.user {
		background: url(../images/icons.png) no-repeat 12px 4px;
		
	}
	.lock {
		background: url(../images/icons.png) no-repeat -20px 3px;
	}
	.p-container .checkbox {
	float: none;
	text-align: center;
	}
	.p-container{
		margin-top: 0;
	}
	.icon{
		margin:5px -11px 0px 10px;
	}
	.p-container .checkbox i {
	position: absolute;
	top: 18px;
	left: 43px;
	}
	.copy-right {
	left:20%;
	bottom:-10%;
	}
}
h1 {
	margin: 20px 0px;
	transform: translateZ(0) scale(1, 1);
	letter-spacing: 0.12em;
	line-height: 0;
	color: #fff;
	text-align:center;
	-webkit-font-smoothing: antialiased;
}

h1 small, h1 span {
	display: block;
	text-transform: uppercase;
	line-height: 1.3;
}

@media (min-width: 768px) {
	h1 small, h1 span {
		line-height: 1;
	}
}

h1 small {
	position: relative;
	display: inline-block;
	font-size: 22px;
	letter-spacing: 0px;
}

@media (min-width: 768px) {
	h1 small {
		font-size: 22px;
	}
}

@media (min-width: 768px) {
	 h1 small:before, h1 small:before, h1 small:after, h1 small:after {
		content: "";
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		display: inline-block;
		width: 130px;
		border-bottom: 2px solid #fff;
	}
	h1 small:before, h1 small:before {
		left: -150px;
	}
	h1 small:after, h1 small:after {
		right: -150px;
	}
}

/*--------------------------------------form2------------------------------------*/
/* CSS Document */
div.p1 {
display:block;
margin:7px 0 7px 0;
}

div.p1 > label,
legend {
	width: 60%;
  float: left;
  padding-right: 10px;
  font-family:'Open Sans', Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#fff;
}
div.p1 > label.desc {
width:96%;
}
div.p1 > div.p2,
div.p1 > fieldset > div.p2 {
  width: 35%;
  float: right;
}
div.p1 > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

div.p2 input[type=text],
div.p2 select, option,
div.p2 input[type=email],
div.p2 input[type=url],
div.p2 input[type=password],
div.p2 textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
div.p2 input[type=text],
div.p2 select, option,
div.p2 input[type=email],
div.p2 input[type=url],
div.p2 input[type=password] {
  width: 60%;
  padding:0.5em 1em 0.5em .5em;
}
div.p2 input[type=text]:focus,
div.p2 select, option:focus,
div.p2 input[type=email]:focus,
div.p2 input[type=url]:focus,
div.p2 input[type=password]:focus,
div.p2 textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

div.p1 input.lastfield[type=text]{
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  width: 12%;
  padding:0.5em 1em 0.5em .5em;
}

div.p1 input[type="submit"], div.p1 input[type="reset"]{
	float:left;
	font-size:14px;
	display: block;
	font-weight:bold;
	color: #fff;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	cursor: pointer;
	outline: none;
	padding:15px 10px;
	margin-top:0px;
	font-family: 'Open Sans', sans-serif;
	width:42%;
	margin:10px 10px 0px 10px;
	border:none;
	background: #133B8A; /* Old browsers */
	background: -moz-linear-gradient(top,  #133B8A 0%, #133B8A 3%, #133B8A 35%, #133B8A 97%, #3360BA 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#133B8A), color-stop(3%,#133B8A), color-stop(35%,#133B8A), color-stop(97%,#133B8A), color-stop(100%,#3360BA)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #133B8A 0%,#133B8A 3%,#133B8A 35%,#133B8A 97%,#3360BA 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #133B8A 0%,#133B8A 3%,#133B8A 35%,#133B8A 97%,#3360BA 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #133B8A 0%,#133B8A 3%,#133B8A 35%,#133B8A 97%,#3360BA 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #133B8A 0%,#133B8A 3%,#133B8A 35%,#133B8A 97%,#3360BA 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133B8A', endColorstr='#3360BA',GradientType=0 ); /* IE6-9 */
}
div.p1 input[type="submit"]:hover, div.p1 input[type="reset"]:hover{
	background: #3360BA; /* Old browsers */
	background: -moz-linear-gradient(top,  #3360BA 0%, #133B8A 3%, #133B8A 65%, #133B8A 97%, #133B8A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3360BA), color-stop(3%,#133B8A), color-stop(65%,#133B8A), color-stop(97%,#133B8A), color-stop(100%,#133B8A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3360BA 0%,#133B8A 3%,#133B8A 65%,#133B8A 97%,#133B8A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3360BA 0%,#133B8A 3%,#133B8A 65%,#133B8A 97%,#133B8A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3360BA 0%,#133B8A 3%,#133B8A 65%,#133B8A 97%,#133B8A 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3360BA 0%,#133B8A 3%,#133B8A 65%,#133B8A 97%,#133B8A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3360BA', endColorstr='#133B8A',GradientType=0 ); /* IE6-9 */
	
}


@media (max-width: 600px) {
  div.p1 {
    margin: 0 0 5px 0; 
  }
  div.p1 > label,
  legend {
	  width: 60%;
    margin: 0 0 5px 0;
  }
  div.p1 > div.p2,
  div.p1 > fieldset > div.p2 {
    width: 100%;
    float: none;
  }
  div.p2 input[type=text],
  div.p2 input[type=email],
  div.p2 input[type=url],
  div.p2 input[type=password],
  div.p2 textarea,
  div.p2 select {
  width:25%;
  float:right;
    
  }
  div.p1 input[type="submit"], div.p1 input[type="reset"]{
	float:left;
	font-size:12px;
	width:44%;
	margin:5px 5px;
	}
}
@media (min-width: 1200px) {
  div.p1 > label,
	legend {
  	text-align: left;
  }
}
@media (max-width: 380px) {
  div.p1 > label,
	legend {
	width:50%;
  }
}